body {
	font-weight: 400;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;

	h1,h2,h3,h4,h5,h6 {
		font-family: "Raleway", sans-serif;
		font-weight: 800;
	}
	p {
		font-size: 18px;
		line-height: 1.5;
		color: #71716C;
	}
	article {
		.post-title {
			font-size: 48px;
		}
		.post-meta {
			color: #CBCBC6;
			font-size: 14px;
			border-bottom: #eee solid 1px;
			padding:15px 0 20px;
		}
		p:first-child, p.lead {
			font-family: "Raleway", sans-serif !important;
			color: #474742;
			font-size: 24px;
		}
		p {
			margin:25px 0;
		}
	}
}
.container {
	width:700px;
}