body {
  font-weight: 400;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
body p {
  font-size: 18px;
  line-height: 1.5;
  color: #71716C;
}
body article .post-title {
  font-size: 48px;
}
body article .post-meta {
  color: #CBCBC6;
  font-size: 14px;
  border-bottom: #eee solid 1px;
  padding: 15px 0 20px;
}
body article p:first-child,
body article p.lead {
  font-family: "Raleway", sans-serif !important;
  color: #474742;
  font-size: 24px;
}
body article p {
  margin: 25px 0;
}
.container {
  width: 700px;
}
